<div class="auth" id="registration">
    <div class="auth__header">
        <h1>{{register.HEADER.HEADING}}</h1>
        <p>{{register.HEADER.CONTENT}}</p>
    </div>
    <div class="auth__main">
        <form action="/" class="registration__form" id="registration__form" novalidate method="POST">
            <div class="form__group">
                <label for="firstName" class="form__label">{{register.MAIN.FIRST-NAME}}</label>
                <input type="text" class="form__control" name="firstName" id="firstName" required>
                <p class="form__error" aria-live="assertive"></p>
            </div>
            <div class="form__group">
                <label for="lastName" class="form__label">{{register.MAIN.LAST-NAME}}</label>
                <input type="text" class="form__control" name="lastName" id="lastName" required>
                <p class="form__error" aria-live="assertive"></p>
            </div>
            <div class="form__group">
                <label for="email" class="form__label">{{register.MAIN.EMAIL}}</label>
                <input type="email" class="form__control" name="email" id="email" required>
                <p class="form__error" aria-live="assertive"></p>
            </div>
            <div class="form__group">
                <label for="password" class="form__label">{{register.MAIN.PASSWORD}}</label>
                <input type="password" class="form__control" name="password" id="password" required>
                <p class="form__error" aria-live="assertive"></p>
            </div>
            <div class="form__group">
                <label for="confirmPassword" class="form__label">{{register.MAIN.CONFIRM-PASSWORD}}</label>
                <input type="password" class="form__control" name="confirmPassword" id="confirmPassword" required>
                <p class="form__error" aria-live="assertive"></p>
            </div>
            <button type="submit" class="btn btn-lg">{{register.MAIN.SUBMIT}}</button>
        </form>
    </div>
</div>