<main class="product">
    <div class="product__sidebar">
        <ul class="product__sidebar__list">
            {{#each categoriesData }}
            <li class="product__sidebar__list--item">{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="product__info">
        <ul class="product__info__list">
            {{#each products}}
            <li class="product__info__list--item">
                <h3>
                    {{name}}
                </h3>
                <img src={{imageURL}} alt="name" />
                <p>
                    {{description}}
                </p>
                <div class="price__info">
                    <span>MRP Rs {{price}}</span>
                    <a href="">Buy Now</a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</main>